.center{
    text-align: center;
    color: #505050;
    padding-top: 200px;
}

.sidebar{
        padding: 20px;
        position: absolute;
        width: 250px;
        background-color: #005296;
        display: block;
        height: 100%;
}

.center_h3{
    text-align: center;
    color: white
    
}
